@(eventList: List[models.database.Event])(implicit request: RequestHeader)
@main("event list") {
    @request.session.get("screenName").get
    
<div class="list-group">
  @for(event <- eventList) {
    
    <a href="@routes.EventController.viewEvent(event.eventId)" class="list-group-item">
        <h4 class="list-group-item-heading">@event.eventName - @event.eventDate</h4>
        <p class="list-group-item-text">...</p>
    </a>
    
    <form method="post" action="routes.EventController.viewEvent(event.eventId.get)">
        <button type="submit">submit</button>
    </form>
  }
</div>
}