@(event: models.database.Event,
    accountList: Map[Int, List[models.database.EventMember]],
    ticketInfo: List[models.database.Ticket],
    eventAdmins: List[String],
    commentList: List[models.database.Comment],
    isOpenTicketInfo: Boolean

)(implicit request: RequestHeader, flash: Flash)

@display(accounts: Option[List[models.database.EventMember]], style: String) = {
    @for(acc <- accounts){
        @for(a <- acc) {
            <li class="list-group-item list-group-item-@style">
                <span class="glyphicon glyphicon-user"></span>
                @a.account
                @if(eventAdmins.contains(a.account)){
                    <span class="glyphicon glyphicon-flag"></span>
                }
                <div class="pull-right">
                    <span class="glyphicon glyphicon-time"></span>
                    updated @a.updateDate.toString("yyyy/MM/dd HH:mm:ss")
                </div>
            </li>
        }
    }
}


@main("event") {
    <script type="text/javascript">
    $(function(){
        $("#deleteTicketForm").submit(function(event){
            return confirm("Really?");
        });
        $("#deleteEventForm").submit(function(event){
            return confirm("Really?");
        });
    });
    </script>


    <div class="page-header">
        <h1>
            @event.eventName  <small>@event.eventLocation / @event.eventDate / @@@event.owner</small>
            <!-- Button trigger modal -->
                @{
                    request.session.get("screenName") match {
                        case Some(x) => {
                            if(event.owner == x){
                            <!--<button class="btn btn-warning" data-toggle="modal" data-target="#adminModal">Add Admin</button>-->
                            <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
                                Regist Ticket Information
                            </button>
                            }
                        }
                        case None =>
                    }
                }
        </h1>
    </div>
    <br/>
    @{
            val ticketNum = ticketInfo.filter(_.status == 2).map(_.number).sum
            val attendNum = accountList.get(1).map(_.size).getOrElse(0)
            val rest = ticketNum - attendNum
            val html = if(rest > 0){
                <form method="post" action={routes.TicketController.openRestTicketInfo().toString}>
                    {if(isOpenTicketInfo == true){
                        <input type="hidden" name="isOpen" value="false" />
                        <button name="eventId" value={event.eventId} class="btn btn-default">余剰チケット情報を非公開にする (余り: {rest} 枚)</button>
                    }else{
                        <input type="hidden" name="isOpen" value="true" />
                        <button name="eventId" value={event.eventId} class="btn btn-default">余剰チケット情報を公開する (余り: {rest} 枚)</button>
                    }}
                </form>
            }else{""}
            Html(html.toString)
    }

    @{
        request.session.get("screenName") match {

            case Some(x) => {
                if(x == event.owner) {
                    <form id="deleteEventForm" method="post" action={routes.EventController.deleteEvent().toString}>
                        <input type="hidden" id="eventId" name="eventId" value={event.eventId} />
                        <button type="submit" class="btn btn-danger pull-right">DELETE THIS EVENT</button>
                    </form>
                }
            }

            case None =>
        }

    }

    <h4><span class="glyphicon glyphicon-ok-sign"></span> 参加メンバー一覧 <span class="badge">@accountList.get(1).map(_.size).getOrElse(0)</span></h4>
    <ul class="list-group">
        @{
            val acc = accountList.get(1)
            if(acc.size == 0){
                "*** no member ***"
            }
            else{display(accountList.get(1), "success")}
        }
    </ul>


    <h4><span class="glyphicon glyphicon-remove-sign"></span> 不参加メンバー一覧 <span class="badge">@accountList.get(2).map(_.size).getOrElse(0)</span></h4>
    <ul class="list-group">
        @{
            val acc = accountList.get(2)
            if(acc.size == 0){
                "*** no member ***"
            }
            else{display(accountList.get(2), "danger")}
        }
    </ul>

    <h4><span class="glyphicon glyphicon-question-sign"></span> 未定メンバー一覧 <span class="badge">@accountList.get(3).map(_.size).getOrElse(0)</span></h4>
    <ul class="list-group">
        @{
            val acc = accountList.get(3)
            if(acc.size == 0){
                "*** no member ***"
            }
            else{display(accountList.get(3), "warning")}
        }
    </ul>

    @{
        request.session.get("screenName") match {
            case Some(x) => {
            <form method="post" action={routes.EventController.viewEvent(event.eventId).toString}>
                <div class="row">
                    <p>
                        <div class="col-md-4">
                            <button type="submit" name="status" class="btn btn-success btn-lg btn-block" value="attend">参加</button>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" name="status" class="btn btn-danger btn-lg btn-block" value="absence">不参加</button>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" name="status" class="btn btn-warning btn-lg btn-block" value="undecided">未定</button>
                        </div>
                    </p>
                </div>
            </form>
            }
            case None =>
        }

    }

    <hr>

    @*** create ticket info ***@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Ticket Create</h4>
                </div>

                <form class="form-horizontal" role="form" method="GET" action="@routes.TicketController.createTicket(event.eventId)">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="number" class="col-sm-4 control-label">Number</label>
                            <div class="col-sm-8">
                                <input type="number" id="number" name="number" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ticketHolder" class="col-sm-4 control-label">Ticket Holder</label>
                            <div class="col-sm-8">
                                <input type="text" id="ticketHolder" name="ticketHolder" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Registry</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @*** add Administrator ***@
    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="adminModalLabel">Add Administrator</h4>
                </div>

                <form class="form-horizontal" role="form" method="post" action="@routes.EventController.addAdministrator()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="account" class="col-sm-4 control-label">Account</label>
                            <div class="col-sm-8">
                                <!--<input type="text" id="account" name="account" required />-->
                                <select id="account" name="account" required>
                                    @for(accountIte <- accountList.values){
                                        @for(account <- accountIte){
                                            @if(!eventAdmins.contains(account.account)){
                                                <option value=@account.account>@account.account</option>
                                            }
                                        }
                                    }
                                    <input type="hidden" name="eventId" value=@event.eventId />
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Registry</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
    <h3>Ticket情報</h3>
    @for(ticket <- ticketInfo){
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form id="deleteTicketForm" method="post" action="@routes.TicketController.deleteTicket(ticket.ticketId.get)">
                        <h3 class="panel-title">@ticket.ticketHolder /
                            @{ticket.status match {
                                case 0 => "応募予定"
                                case 1 => "応募済み"
                                case 2 => "当選"
                                case 3 => "落選"
                            }}
                            @if(eventAdmins.contains(request.session.get("screenName").getOrElse(""))){
                            <button type="submit" class="btn btn-danger btn-sm pull-right">
                                <span class="glyphicon glyphicon-remove"></span>削除
                            </button>
                            }
                        </h3>
                    </form>
                </div>
                <div class="panel-body">
                    @*** TODO ***@
                    <form id="ticketStatusUpdateForm" method="post" action="@routes.TicketController.updateTicketStatus()">
                        <input type="hidden" name="eventId" value="@event.eventId" />
                        <input type="hidden" name="ticketId" value="@ticket.ticketId" />
                        @ticket.number 枚
                        @request.session.get("screenName").map{ screenName =>
                            @if(screenName == ticket.ticketHolder || screenName == event.owner){
                                @if(ticket.status == 0){
                                    <button type="submit" name="status" value="1" class="btn btn-default btn-sm pull-right">応募済み</button>
                                }
                                @if(ticket.status == 1) {
                                    <div class="btn-group pull-right">
                                        <button type="submit" name="status" value="2" class="btn btn-success btn-sm">当選</button>
                                        <button type="submit" name="status" value="3" class="btn btn-danger btn-sm">落選</button>
                                    </div>
                                }
                                @if(ticket.status == 2 || ticket.status == 3) {
                                    <button type="submit" name="status" value="0" class="btn btn-danger btn-sm pull-right">戻す</button>
                                }
                            }
                        }

                    </form>
                </div>
            </div>
        </div>
    }
    </div>

    @{
        request.session.get("screenName") match {
            case Some(x) => {
            <h3>コメントを残す</h3>
            <form method="post" action={routes.EventController.comment().toString}>
                <textarea cols="100" name="comment" wrap="hard" required="required"></textarea>
                <input type="hidden" name="eventId" value={event.eventId}/>
                <button type="submit" class="btn btn-default">送信</button>
            </form>
            }
            case None =>
        }
    }
    @for(comment <- commentList){
            <div class="panel panel-default">
                <div class="panel-heading">
                        <span class="glyphicon glyphicon-pencil"></span>
                        @comment.account
                        <div class="pull-right">
                            @comment.createDate.toString("yyyy/MM/dd HH:mm:ss")
                        </div>
                </div>
                <div class="panel-body">
                    @Html(comment.comment.replace("\n", "<br/>"))
                </div>
            </div>
    }
}