@(eventList: List[models.database.Event], paginationCount: Int, now: Int)(implicit rquest: RequestHeader, flash: Flash)
@main("event list") {

    <div class="page-header">
        <h1>
            公開イベント
        </h1>
    </div>

    <div class="list-group">
        @template.eventList(eventList)
    </div>


    <ul class="pagination">
        <li><a href="@routes.EventController.viewEventList(1)">&laquo;</a></li>
        @{
            (1 to paginationCount).map{ page =>
                if(page == now){
                    <li class="active"><a href={routes.EventController.viewEventList(page).toString}>{page} <span class="sr-only">(current)</span></a></li>
                }else{
                    <li><a href={routes.EventController.viewEventList(page).toString}>{page} <span class="sr-only">(current)</span></a></li>
                }

            }
        }
        <li><a href="@routes.EventController.viewEventList(paginationCount)">&raquo;</a></li>
    </ul>

}