@(screenName: Option[String])(implicit rquest: RequestHeader)
@main("Ticket Manager") {

    <h1>Ticket Management</h1>

    
    <blockquote>
        <p>Ticket Manager is ticket management system.</p>
    </blockquote>

        @screenName match {
            case Some(s) => {
                @s
                <br/>
                <a href="/logout">logout</a>
            }
            case None => {
                <a href="/login">
                    <img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Login">
                </a>
            }
        }

}
