@(screenName: Option[String])(implicit rquest: RequestHeader, flash: Flash)
@main("Ticket Manager") {
    <div class="jumbotron">
        <h1>Ticket Manager</h1>
        <p>This is ticket management system.</p>

        @screenName match {
            case Some(s) => {
            }
            case None => {
                <a href="/login">
                    <img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Login">
                </a>
                Or
            }
        }
        <a class="btn btn-default" href=@routes.EventController.viewEventList(1)>公開されているイベントを見る</a>

    </div>


    <div class="row" style="background-color: #EEE; border-radius: 6px; padding: 10px;">
        <h2 style="colok: white;">Sample Image</h2>
        <div class="col-md-6">
            <img src="@routes.Assets.at("images/eventPage.png")" alt="イベントページ" class="img-thumbnail">
        </div>
        <div class="col-md-6">
            <img src="@routes.Assets.at("images/personalPage.png")" alt="イベントページ" class="img-thumbnail">
        </div>
    </div>

    <script type="text/javascript"><!--
    amazon_ad_tag = "coward0d-22"; amazon_ad_width = "728"; amazon_ad_height = "90";//--></script>
    <script type="text/javascript" src="http://ir-jp.amazon-adsystem.com/s/ads.js"></script>
}
