@(screenName: Option[String])(implicit rquest: RequestHeader, flash: Flash)
@main("Ticket Manager") {
    <div class="jumbotron">
        <h1>Ticket Manager</h1>
        <p>This is ticket management system.</p>

        @screenName match {
            case Some(s) => {
            }
            case None => {
                <a href="/login">
                    <img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Login">
                </a>
                Or
            }
        }
        <a class="btn btn-default" href=@routes.EventController.viewEventList(1)>View Open Event Group</a>

    </div>
}
