@(eventList: List[(models.database.Event, Int)])(implicit rquest: RequestHeader, flash: Flash)
@main("tickets"){


    <div class="row">
        <form method="get" action="@routes.TicketController.searchTicket()">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <input type="search" name="word" class="form-control" required />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">検索</button>
                    </span>
                </div>
            </div>
        </form>
    </div>


    <ul class="list-group">
    @eventList.map{ event =>
        <li class="list-group-item">
            @event._1.eventName - @event._1.eventDate - @event._1.eventLocation
                <a href="https://twitter.com/share?text=@@@event._1.owner 【@event._1.eventName / @event._1.eventDate / @event._1.eventLocation】 のチケット譲っていただけませんか？">@@@event._1.owner</a> / 余り @event._2 枚
        </li>
    }
    </ul>
}